﻿@using Todo.WebUI.Models
@model TaskModel
@using Todo.Entities


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Layout.cshtml";
    TaskModel EditModel = Model;
}


<form class="form-horizontal" action="/Task/SaveTask" method="post">

           <div class="form-inline">
                <label class="col-md-4 control-label">Edit task :</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", name = "NewTask", value = "@EditModel.Name" })

            </div>
            <div class="form-inline">
                <label class="col-md-4 control-label">Task Id :</label>
                @Html.TextBoxFor(m => m.Id, new { @class = "form-control", name = "Id", value = "@EditModel.Id"})
            </div>
            <div class="form-inline">
                <label class="col-md-4 control-label">Task is done :</label>
                @Html.CheckBoxFor(m => m.IsDone, new { @class = "form-control" })
            </div>
            <div class="form-inline">
                <div class="col-md-4"></div>
                <button type="submit" class="btn btn-warning">Save Task</button>
                <button type="reset" class="btn btn-primary" value="Reset">Reset</button>
                <button type="button" class="btn btn-success">Cancel</button>
            </div>

</form>    
    




