﻿@using Todo.Entities
@section scripts
{
    <script src="~/Scripts/pages/TasksPage.js"></script>
}

@{

    ViewBag.Title = "Task";
    Layout = "~/Views/Shared/Layout.cshtml";
    string message = ViewBag.ErrMsg;
    List<TaskEntity> Tasks = ViewBag.TaskArr;

}

<p align="center">
    <font size="24">Todo list</font>
</p>
<label>@ViewBag.ErrMsg</label>
<form method="post">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="new task" name="NewTask" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </span>
            </div>
        </div>
        <div class="col-xs-4"></div>
    </div>
</form>
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="form-inline">
                <select class="form-control sort-by-status">
                    <option disabled selected>sort tasks by status</option>
                    <option value="completed tasks">completed tasks</option>
                    <option value="tasks in progress">tasks in progress</option>
                    <option value="all tasks">all tasks</option>
                </select>

                <select class="form-control sort-by-priority">
                    <option disabled selected>sort tasks by priority</option>
                    <option value="0">Low or not-Set</option>
                    <option value="1">Medium Low</option>
                    <option value="2">Medium</option>
                    <option value="3">Medium High</option>
                    <option value="4">High</option>
                    <option value="5">All Tasks</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-6">

        <table id="mytable" class="table table-hover">
            <thead>
                <tr>
                    <th class="sort-alpha sortable">#</th>
                    <th class="sort-alpha sortable" id="task_name">Task<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                    <th class="sort-alpha sortable">IsDone</th>
                    <th class="sort-alpha sortable" id="priority_level">Priority<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                    <th>Delete</th>
                    <th class="sort-alpha sortable" id="user_id">UserId<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                </tr>
            </thead>

            <tbody>
                @Html.Partial("TasksPartialView", Tasks)
            </tbody>
        </table>

    </div>
    <!--<div class="col-xs-4"></div>-->
</div>



