﻿@model List<TaskEntity>
@using Todo.Entities
    @foreach (var task in Model)
    {
        <tr class=@(task.IsDone ? "success" : "warning")>
            <td>@task.Id</td>
            <td>
                <form action="/Task/Edit" method="get">
                    <a href="/Task/Edit/@task.Id">@task.Name</a>
                </form>
            </td>
            <td> <input type="checkbox" class="is-done-checkbox"  @(task.IsDone ? "checked" : "") data-id=@task.Id data-toggle="toggle" /></td>
            <td> 
                   <select class="form-control select-set-priority @(task.Priority==4?" btn-danger":(task.Priority==3?" btn-warning":(task.Priority==2?" btn-success":(task.Priority==1?" btn-info":" btn-default"))))" data-id=@task.Id>
                         <option value="0" @(task.Priority==0 ? "selected" : "")>Low or not-Set</option>
                         <option value="1" @(task.Priority==1 ? "selected" : "")>Medium Low</option>
                         <option value="2" @(task.Priority==2 ? "selected" : "")>Medium</option>
                         <option value="3" @(task.Priority==3 ? "selected" : "")>Medium High</option>
                         <option value="4" @(task.Priority==4 ? "selected" : "")>High</option>
                    </select>
            </td>
            <td>
                <form action="/Task/DeleteTask" method="post">
                    <button type="submit" class="btn btn-primary">Delete</button>
                    <input style="" type="hidden" name="taskId" value=@task.Id />
                </form>
            </td>
            <td>@task.UserId</td>
         </tr>
    }


           