﻿
@{
    Layout = null;
    string message = ViewBag.ErrMsg;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Todo List</title>
    
    <!--CSS section-->
    <!--Bootstrap styles-->
    <link href="~/Scripts/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/jumbotron.css" rel="stylesheet" />
    <link href="~/Scripts/libs/bootstrap/css/myStyles.css" rel="stylesheet" />

    <!--Scripts section-->
    <script src="~/Scripts/libs/jQuery/jquery-2.1.4.js"></script>
    <script src="~/Scripts/libs/bootstrap/js/bootstrap.js"></script>
    <!---->
    @RenderSection("scripts",false)
    <meta name="description" content="Todo List" />
</head>
<body>
    <div>
        @{Html.RenderAction("GetUserName","Security");}
        
        @RenderBody()
    </div>

</body>
</html>

