﻿@model Todo.WebUI.Models.LoginModel

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-6"></div>
    <div class="col-md-4">
        <form action="/Security/Logout" method="post">
            <button type="submit" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-log-out"></span> Log out @Model.Login
            </button>
        </form>
    </div>
</div>