﻿@model Todo.WebUI.Models.LoginModel

@{
    Layout = null;
    string errMsg = ViewBag.ErrorMessage;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--CSS section-->
    <!--Bootstrap styles-->
    <link href="~/Scripts/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/jumbotron.css" rel="stylesheet" />
    <link href="~/Scripts/libs/bootstrap/css/myStyles.css" rel="stylesheet" />

    <!--Scripts section-->
    <script src="~/Scripts/libs/jQuery/jquery-2.1.4.js"></script>
    <script src="~/Scripts/libs/bootstrap/js/bootstrap.js"></script>
    <!---->
    <title>Login</title>
    <meta name="description" content="todo list course project" />
</head>
<body>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="jumbotron">
                <div class="container">
                    <h1>Login form</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
           
                <div class="container">
                    <h1>@errMsg</h1>
                </div>
           
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <form class="form-horizontal" action="~/Security/Login" method="POST">
                <div class="form-group">
                    @Html.LabelFor(m => m.Login, new { @class ="col-sm-2 control-label" })
                    @Html.PasswordFor(m => m.Login, new { @class = "form-control", id = "inputLogin", placeholder= "Login" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "inputPassword", placeholder = "Password" })

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>






</body>
</html>
